@import "tailwindcss";

:root {
    --bg: #E2E8F0;
    --bg-calculator: #FFFFFF;
    --bg-display: #F8FAFC;
    --bg-btn-number: #F1F5F9;
    --bg-btn-action: #E2E8F0;
    --bg-btn-equal: #2563EB;
    --d-number: #0F172A;
    --btn-number: #334155;
    --btn-action: #475569;
    --btn-equal: #FFFFFF;
}

@utility calculator {
  @apply w-1/3 h-4/5 p-6 bg-(--bg-calculator) rounded flex flex-col gap-5;

  min-width: 320px;
  max-width: 450px;
}

@utility display {
  @apply w-full h-1/5 outline-none rounded-2xl flex items-center justify-end bg-(--bg-display) text-(--d-number);

  pointer-events: none;

  padding: 0 20px;
  min-height: 80px;

  font-size: clamp(2rem, 5vw, 3.5rem); 
  font-weight: 700;

  position: relative;

  overflow: hidden;
}

@utility lineOp {
  position: absolute;

  top: 0; left: 5%;

  font-size: clamp(1rem, 2.5vw, 1.5rem); 
  font-weight: 500;
  
  
  color: var(--d-number);
  opacity: 0.6; 
}

@utility btn-grid {
  @apply grid grid-cols-4 gap-3 grow;
}

@utility btn {
  @apply w-full h-full rounded-2xl hover:brightness-90 active:brightness-75;

  font-size: clamp(1.2rem, 2.5vw, 1.8rem); 
  font-weight: 600;

  transition: filter 0.15s ease;

  &.n {
    @apply bg-(--bg-btn-number) text-(--btn-number);
  }

  &.a {
    @apply bg-(--bg-btn-action) text-(--btn-action);
  }

  &.e {
    @apply bg-(--bg-btn-equal) text-(--btn-equal);
  }
}